* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  width: 640px;
  margin: 0 auto;
  padding: 5px;
  background: #46423f;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 200px;
  -webkit-transition: .1s transform;
  transition: .1s transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  -webkit-transform: scale(1.7,1.7);
          transform: scale(1.7,1.7);
  -webkit-transition: .3s transform;
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

h2 {
  margin-top: 2%;
  font-size: 16px;
  text-align: center;
  color: aliceblue;
}